{% extends 'web_img_enhancement/base.html' %}

{% load static from staticfiles %}

{% block linkscript %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/cs.css'%}" />
<script>
window.onload = function(){
    $("#1button").click(function(){
  console.log("nihao");
});
$("#file").on('change', function () {
    console.log("我进来了啊！");
    var rd = new FileReader();//创建文件读取对象
    files = this.files[0];//获取file组件中的文件
    console.log(files)

    //判断图片类型,如果不需要判断去掉第一个if()就好
    let fileType = files.type.slice(6, 10)
    if (fileType != 'jpg' && fileType != 'png' && fileType != 'jpeg' && fileType != 'bmp') {
    alert('仅支持jpg、jpeg、gif、png、bmp格式的图片，请重新上传图片')
    return
    } else {
    rd.readAsDataURL(files);//文件读取装换为base64类型
    rd.onloadend = function (e) {
    //加载完毕之后获取结果赋值给img
    document.getElementById("img").src = this.result;
            }
        }
    })
}

</script>

{% endblock linkscript %}

{% block base %}

<h1>nihao吗！！！！！！</h1>
<h1>我是主页！！！！！！</h1>
<br/>
<br/>
<br/>
<br/>
<form  action="/sctp/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        图片名:
        <input type="text" name="goods_name" id="goods_name">
        <br/>
        <button class="btn">上传图片</button>
        <div class="btn-box">
        <img src="{% static '/main/img/cover.png' %}" alt="" class="img" id="img">
        <input type="file" id="file" accept="image/*" name="picture" class="file-ipt" required>
    </div>
        <br/>

        <br/>
        <input type="submit" value="上传处理">
    </form>
    <button id="1button" class="1button">Nh</button>
    <p>aaaaaaaaaaaaa</p>
{% endblock base %}